@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/inter/Inter-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: light;
    font-weight: 200;
    font-display: swap;
    src: url(/fonts/inter/Inter-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2) format('woff2');
}

body {
    @apply bg-blue-dark;
    background: linear-gradient(180deg, rgb(2, 48, 71) 0%, rgb(5, 62, 91) 100%);
  }